* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.photo-album {
  display: flex;
  flex-wrap: wrap;
}
.photo-frame {
  width: 300px;
  height: 200px;
  border: 10px solid goldenrod;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.photo img {
  width: 100%;
}
.photo img:hover {
  /* transform: scale(1.2); */
  transform: rotate(180deg);
  transition: transform 2s; /*zoom*/
}

.photo-detail {
  position: absolute;
  display: none;
  width: 300px;
  height: 200px;
  top: 0;
  border-radius: 10px;
}
.photo-frame:hover .photo-detail {
  /* display: block; */
  color: gold;
}
.photo-frame:hover .photo-detail h3 {
  color: #fff;
  text-align: center;
}
